/pcb/esp-rm-frc-bridge/esp-rm-frc-bridge-backups
pcb/esp-rm-frc-bridge/\#auto_saved_files\#
/pcb/nz/nz-backups
pcb/nz/~nz.kicad_pcb.lck
pcb/nz/~nz.kicad_sch.lck
pcb/nz/fp-info-cache
pcb/nz/fp-info-cache
pcb/nz/fp-info-cache
/pcb/esptof/esptof-backups
/pcb/IM-ESP32-Demo/.gradle
/pcb/IM-ESP32-Demo/build
/pcb/IM-ESP32-Demo/bin
